*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    background-color: #e0e0e0;
}

.header{
    width: 100%;
    text-align: center;
    background-color: #f6f6f8;
    padding: 5px 0px;
    margin-bottom: 40px;
}


.main-heading{
    color: black;
    font-size: 20px;
}

.author{
    color: white;
    margin-top: 20px;
    text-align: center;
    color: black;
    margin-bottom: 40px;
    font-weight: 500;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-task-container{
    width: 350px;
    padding: 20px 20px;
    background-color: #f3f2f2;
    border-radius: 5px;
    display: flex;
}

input{
    flex: 5;
    margin-right: 10px;
    height: 36px;
    border:none;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    color: black;
    border: solid 1px rgb(212, 212, 212);
}

#add-task{
    flex: 1;
    background-color: white;
    font-size: 1.2rem;
    padding: 5px;
    color: orange;
    border:orange solid 1px;
    border-radius: 4px;
    height: 35px;
    transition: .3s;
}

#add-task:hover{
    background-color:orange;
    color: white;
    cursor: pointer;
}

.task{
    width: 350px;
    margin-top: 10px;
    background-color: #f3f2f2;
    padding: 20px 20px;
    display: flex;
    list-style:square;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
}

.checkTask{
    border: 1px solid green;
    padding: 5px 10px;
    background-color: transparent;
    margin-left: 10px;
    font-size: 1.3rem;
    color: green;
    cursor: pointer;
}

.deleteTask{
    border: 1px solid red;
    padding: 5px 10px;
    background-color: transparent;
    margin-left: 10px;
    font-size: 1.3rem;
    color: red;
    cursor: pointer;
}

.checkTask:hover{
    color: white;
    background-color: green;
}

.deleteTask:hover{
    color:white;
    background-color: red;
}

.task li{
    list-style: none;
    flex:4;
    font-size: 1.2rem;
}

p{
    color: white;
    margin-top: 50px;
}


@media  (max-width : 450px){
    
#add-task-container{
    width: 350px;
   
}
}

@media  (max-width : 380px){
   
    #add-task-container{
    width: 315px;
}
}

@media  (max-width : 370px){
   
    #add-task-container{
    width: 300px;
}
}